* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: poppins-medium;
  src: url(./assets/Poppins-Medium.ttf);
}

body {
  font-family: poppins-medium, sans-serif;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 4fr 4fr;
  height: 100vh;
  width: 100%;
  background-color: #ECFAE5;
}

.navbar, .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
}

.navbar > div, .actions > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar {
  grid-area: 1/2/2/4;
}

.actions {
  grid-area: 2/2/3/4;
  border-bottom: 3px solid #B0DB9C;
}

span {
  font-size: 24px;
}

#search {
  width: 40vw;
  height: 30px;
  border-radius: 20px;
  padding: 8px;
  border-radius: 20px;
  border: 2px solid #B0DB9C;
  background-color: #B0DB9C;
}

#search:hover {
  border: 2px solid rgb(0, 0, 0, 0.3);
}

.profile-icon, .dashboard-icon {
  height: 3rem;
  width: 3rem;
}

.actionBtn {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  border: 2px solid #B0DB9C;
  color: black;
  background-color: #B0DB9C;
  font-family: poppins-medium, sans-serif;
}

.actionBtn:hover {
  color:#B0DB9C;
  background-color: black;
  border: 2px solid black;
}

.sidebar {
  grid-area: 1/1/6/2;
  background-color: #B0DB9C;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content:left;
  gap: 5rem;
}

.sidebar > div {
  display: flex;
  align-items: center;
}

.sidebar-actions {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.sidebar-actions > li {
  align-self:flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 18px;
  padding-bottom: 1rem;
}


h1 {
  display: inline;
}

.resources {
  grid-area: 3/3/5/4;
  border-left: 3px solid #B0DB9C;
  padding: 20px;
}

.socials {
  grid-area: 5/3/6/4;
  padding: 20px;
  border-left: 3px solid #B0DB9C;
  border-top: 3px solid #B0DB9C;
}

.socials-list > li, .resources-list > li {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding-top: 30px;
  align-items: center;
}

a {
  color: black;
}

a:hover {
  color: #B0DB9C;
}

.projects {
  grid-area: 3/2/4/3;
  padding: 20px;
}

.project-section1 {
  grid-area: 4/2/5/3;
}

.project-section2 {
  grid-area: 5/2/6/3;
}

.project-section1, .project-section2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10px;
}

.project-section1 > div, .project-section2 > div {
  height: 15rem;
  width: 15rem;
  background-color: #B0DB9C;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  color:#3b4b33;
  text-shadow: 2px 1px 0px rgba(238, 255, 240, 0.566);
}

.project-links:hover {
  color:#3b4b33;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}

